h1#info_publica{
	color: black;
}
summary{
	font-size: 15px;
	font-weight: bold;
}
ul{
	padding-left: 20px;
	list-style: none;
}

li {
    display: list-item;
    margin-top: 5px;
}
a{
	text-decoration: none;
    font-size: 14px;

}